<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form Creazione Pizza</title>
</head>
<body>
<h2>Creazione Pizza</h2>
<form id="pizzaForm" th:object="${Pizza}">
    <label for="nome">Nome della Pizza:</label>
    <input type="text" id="nome" name="nome" required><br><br>

    <label for="prezzo">Prezzo della Pizza:</label>
    <input type="number" id="prezzo" name="prezzo" step="0.01" required><br><br>

    <button type="button" id="inviaButton">Crea Pizza</button>
</form>
<a class="button" href="/pizza/index">Home</a>

<script>
    document.getElementById("inviaButton").addEventListener("click", function() {
        inviaDati();
    });

    function inviaDati() {
        var nome = document.getElementById("nome").value;
        var prezzo = document.getElementById("prezzo").value;
        var pizza = {
            "nome": nome,
            "prezzo": prezzo
        };

        // Invia i dati come JSON
        fetch("/pizza/createPizza", {
            method: "POST",
            body: JSON.stringify(pizza),
            headers: {
                "Content-Type": "application/json"
            }
        })
        .then(response => response.json())
        .then(data => {
            // Gestisci la risposta
            console.log(data);
        });
    }
</script>
</body>
</html>
