<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Pizza</title>
</head>
<body>
<h1>Edit Pizza</h1>
<form th:action="@{/pizza/updatePizza/{id}(id=${pizza.id})}" method="post">
    <input type="hidden" name="_method" value="put" />
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:value="${pizza.name}" />
    <label for="price">Price:</label>
    <input type="text" id="price" name="price" th:value="${pizza.price}" />
    <!-- Aggiungi altri campi per gli altri attributi della pizza se necessario -->
    <button type="submit">Save</button>
</form>
</body>
</html>
