<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container">
    <h1>Il Nostro Menu</h1>
    <div th:each="pizza : ${pizzas}" class="menu-item">
        <h2 th:text="${pizza.name}"></h2>
        <p th:text="${pizza.price}"></p>
        <a th:href="@{/pizza/updatePizza/{id}(id=${pizza.id})}" class="button">Modifica</a>
        <form th:action="@{/pizza/deletePizza/{id}(id=${pizza.id})}" method="delete">
            <input type="hidden" name="_method" value="delete" />
            <button type="submit">Elimina</button>
        </form>
    </div>
    <a class="button" href="/pizza/index">Home</a>
</div>
</html>