<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <title>Menù</title>
</head>
<body class="bg-gray-200 flex justify-center items-center h-screen">
<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 max-w-xl w-full mx-auto">
    <div class="w-full max-w-xs mx-auto flex flex-col items-center text-center">
        <h1 class="text-4xl text-yellow-500 mb-6 uppercase">Ordini</h1>
        <div th:if="${#lists.isEmpty(orders)}" class="menu-item mb-4">
            <div class="flex items-center space-x-2 w-full justify-center">
                <h2 class="text-xl font-bold">Nessun ordine</h2>
            </div>
        </div>
        <div th:each="ordine : ${orders}" class="menu-item mb-4">
            <div class="flex items-center space-x-2 w-full justify-center">
                <h2 class="text-xl font-bold" th:text="${'Ordine ID: ' + ordine.id}"></h2>
                <p class="text-xl font-bold" th:text="${'Data: ' + ordine.dataOrdine}"></p>
            </div>
            <!-- Mostra le pizze per questo ordine -->
            <div>
                <ul>
                    <li th:each="pizza : ${ordine.pizze}" th:text="${pizza.name} + ' - ' + ${pizza.price}"></li>
                </ul>
            </div>
        </div>

    <div class="flex justify-between">
        <a href="/pizza/menu"
           class="inline-block bg-yellow-500 text-white font-bold py-2 px-4 rounded-lg shadow hover:bg-yellow-700 hover:shadow-lg transition duration-300 ease-in-out ml-2">
            Menù
        </a>
        <a href="/pizza/index"
           class="inline-block bg-yellow-500 text-white font-bold py-2 px-4 rounded-lg shadow hover:bg-yellow-700 hover:shadow-lg transition duration-300 ease-in-out ml-2">
            Home
        </a>
    </div>
    </div>
</div>
</body>
</html>
