<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <title>Menù</title>
</head>
<body class="bg-gray-200 flex justify-center items-center h-screen">
<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 max-w-xl w-full mx-auto">
    <div class="w-full max-w-xs mx-auto flex flex-col items-center text-center">
        <h1 class="text-4xl text-yellow-500 mb-6 uppercase">Ordini</h1>
        <div th:if="${#lists.isEmpty(ordini)}" class="menu-item mb-4">
            <div class="flex items-center space-x-2 w-full justify-center">
                <h2 class="text-xl font-bold">Nessun ordine</h2>
            </div>
        </div>
        <div th:each="ordine : ${ordini}" class="menu-item mb-4">
            <div class="flex items-center space-x-2 w-full justify-center">
                <h2 class="text-xl font-bold" th:text="${ordine.id}"></h2>
                <p class="text-xl font-bold" th:text="${ordine.data} "></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
